
<div class="form-group">
  <div class ="col-sm-offset-2 col-sm-10">
    <span class="test-danger small"> {{ form.hostelName.errors }} </span>
  </div>
  <label class="control-label col-sm-2"> {{ form.hostelName.label_tag }}</label>
  <div class="col-sm-10"> {{form.hostelName}} </div>
</div>


<div class="form-group">
  <div class ="col-sm-offset-2 col-sm-10">
    <span class="test-danger small"> {{ form.username.errors }} </span>
  </div>
  <label class="control-label col-sm-2"> {{ form.username.label_tag }}</label>
  <div class="col-sm-10"> {{form.username}} </div>
</div>


<div class="form-group">
  <div class ="col-sm-offset-2 col-sm-10">
    <span class="test-danger small"> {{ form.h1.errors }} </span>
  </div>
  <label class="control-label col-sm-2"> First Preference</label>
  <div class="col-sm-10"> {{form.h1}} </div>
</div>


<div class="form-group">
  <div class ="col-sm-offset-2 col-sm-10">
    <span class="test-danger small"> {{ form.h2.errors }} </span>
  </div>
  <label class="control-label col-sm-2"> Second Preference</label>
  <div class="col-sm-10"> {{form.h2}} </div>
</div>


<div class="form-group">
  <div class ="col-sm-offset-2 col-sm-10">
    <span class="test-danger small"> {{ form.h3.errors }} </span>
  </div>
  <label class="control-label col-sm-2"> Third Preference</label>
  <div class="col-sm-10"> {{form.h3}} </div>
</div>
