{% extends "hab_app/caretakerView.html" %}
{% block body_block %}

  <thead>
      <tr>
          <th>Date</th>
          <th>Room No.</th>
          <th>Occupant Name</th>
          <th>Occupant ID No</th>
          <th>Category</th>
          <th>Contact</th>
          <th>Preexist</th>
          <th>Alloted</th>
      </tr>
  </thead>

  <tbody>
    <tr>
          <td>Tiger Nixon</td>
          <td>System Architect</td>
          <td>Edinburgh</td>
          <td>61</td>
          <td>2011/04/25</td>
          <td>$320,800</td>
          <td>$320,800</td>
          <td>$320,800</td>
      </tr>

  </tbody>

{% endblock %}
