{% extends "hab_app/caretakerView.html" %}
{% block body_block %}

  <thead>
      <tr>
          <th>Date</th>
          <th>Room No.</th>
          <th>Occupant Name</th>
          <th>Occupant ID No</th>
          <th>Category</th>
          <th>Contact</th>
          <th>Preexist</th>
          <th>Alloted</th>
      </tr>
  </thead>

  <tbody>
    {% for i in tobeAlloted %}
    <tr>
          <td>{{ i.toStay }}</td>
          <td>{{ i.roomNo }}</td>
          <td>{{i.occupantName}}</td>
          <td>{{ i.occupantId }}</td>
          <td>{{ i.occupantIdCategory }}</td>
          <td></td>
          <td>No</td>
          <td><a class="btn btn-primary" href="#" role="button">Allot</a></td>

      </tr>
      {% endfor %}
  </tbody>

{% endblock %}
