{% extends "hab_app/caretakerView.html" %}
{% block body_block %}

  <thead>
      <tr>
          <th>Room No.</th>
          <th>Occupant Name</th>
          <th>Occupant ID No</th>
          <th>Bank Account No</th>
          <th>IFSC Code</th>
          <th>Webmail Id</th>
          <th>Contact</th>
          <th>Details</th>
      </tr>
  </thead>

  <tbody>
    {% for i,j in zipped %}
    <tr>
          <td>{{ i.roomNo }}</td>
          <td>{{ j.name }}</td>
          <td>{{ i.occupantId }}</td>
          <td>{{ j.bankAccount }}</td>
          <td>{{ j.IFSCCode}}</td>
          <td>{{ j.webmail}}</td>
          <td>{{j.mobNo}}</td>
          <td><a href="{% url 'hab_app:showDetails' %}?param={{ i.occupantId }}" onclick="showDetail(this)" id = "{{ i.occupantId }}">Details</a></td>
      </tr>
      {% endfor %}
  </tbody>


{% endblock %}
